.address__list {
    margin-top: 20px;
}

.address-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1200px){
        align-items: flex-start;
    }
}

.address__text {
    font-style: normal;
    line-height: 1.71;
    color: $fontWhite;
    text-align: center;
}

.address__item{
    text-align: center;
    @media screen and (min-width: 1200px){
        text-align: left;
    }
}

.address__item + .address__item {
    margin-top: 9px;
}

.address__link {
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: $accentColor;
    }
}
  