.clients__title {
    margin-bottom: 30px;
  
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    @media screen and (min-width: 1200px){
        margin-bottom: 50px;
    }
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.clients__link {
    display: inline-block;
  
    width: 210px;
    padding: 16px 52px;
  
    border: 1px solid $iconsGray;
    border-radius: 4px;
    fill: $iconsGray;
  
    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        border-color: $accentColor;
        fill: $accentColor;
    }
    @media screen and (min-width: 1200px){
        padding-left: 32px;
        padding-right: 32px;
        width: 170px;
    }
}