.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  
}

.hedder-container {
  position: relative;

  display: flex;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;

  @media screen and (min-width: 768px){
    padding-top: 21px;
    padding-bottom: 21px;
  }  
}

.header__menu{
  position: absolute;
  z-index: 1;

  top:0;
  left: 0;

  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 48px;
  width: 100%;

  background-color: #fff;
  // outline: 2px solid red;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px){
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0px;
    margin-left: 88px;
    background-color: transparent;
  }
  @media screen and (min-width: 1200px){
    margin-left: 93px;
  }
  &--hidden{
    transform: translateY(-101%);
    @media screen and (min-width: 768px){
      transform: translateY(0%);
    }
  }
}

.header__menu-button{
  position: relative;
  z-index: 2;

  display: block;
  padding: 0;
  margin-left: auto;
  
  background-color: transparent;
  border: none;
  &:hover svg{
    fill: $accentColor; 
  }
  & svg{
    display: block;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 768px){
    display: none;
  }
}