.modal {
  position: relative;

  // display: block-i;
  // top: 50%;
  // left: 50%;

  
  padding: 40px;
  max-width: 450px;

  margin: 0 auto;

  background-color: #fff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @media screen and (min-width: 768px){
    position: absolute;
    top: 50%;
    left: 50%;

    width: 450px;

    transform: translate(-50%, -50%);
  }
  @media screen and (min-width: 1200px){
    width: 528px;
    height: 581px;
    max-width: none;
  }
  
}

.modal__text {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form__container {
  position: relative;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column-reverse;
  gap: 4px;
}

.modal-form__lable {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $fontGray;
  text-align: left;
}

.modal-form__input-box {
  // width: 448px;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-visible {
    outline: none;
  }
  &:focus {
    border-color: $accentColor;

    & ~ .modal-form__icon {
      fill: $accentColor;
    }
  }
}

.modal-form__icon {
  position: absolute;
  top: 29px;
  left: 12px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea {
  // width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;

  line-height: 1.14;
  letter-spacing: 0.01em;

  &::placeholder {
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
