.products {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media screen and (min-width: 768px){
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.products__link {
    text-decoration: none;
    display: block;
  
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

        & .products__overlay{
            transform: translate(0%, 0%);
        }
    }
    @media screen and (min-width: 768px){
        width: 354px;
    }
    @media screen and (min-width: 1200px){
        width: 370px;
    }
 }

.products__card-container {
    padding: 20px 24px;
    height: 146px;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    border-right: 1px solid rgba(238, 238, 238, 1);
    border-left: 1px solid rgba(238, 238, 238, 1);
}

.products__item{
    
}

.products__thumb{
    position: relative;
    overflow: hidden;
}

.products__title {
    margin-bottom: 4px;
  
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--font-black1);
}

.products__title {
    margin-bottom: 4px;
  
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $fontBlack1;
}

.products__text {
    font-size: 16px;
    line-height: 1.87;
    color: $fontGray;
}

.products__overlay{
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-right: 24px;
    padding-left: 24px;
  
    background-color: rgba(33, 150, 243, 0.9);
  
    transform: translate(0%, 101%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

 .products__overlay-text{
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;
 }